@charset "UTF-8";

li{
	list-style: none;	
}
a{
	text-decoration: none;
}
.mainText{
	font-size : 30px;
	margin-left : 46%;
	text-decoration: none;
}
.nav ul{
	display : inline-block;	
}
.submenu{
	display : none;
}
.submenu ul{
	display : inline-block;	
}

